certifi==2018.1.18
elasticsearch==6.2.0
PyYAML==3.12
redis==2.10.6
Flask==1.0.2
prometheus-client==0.2.0
celery==4.1.0
kombu==4.1.0
webargs==3.0.2
youtube-dl==2018.7.10
dogpile.cache==0.6.6
SQLAlchemy==1.2.10
PyMySQL==0.9.2